<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <!--APP_HOME 在start.sh 脚本中指定-->
        <RollingFile name="rollingDayFile" fileName="logs/mapping.log"
                     filePattern="logs/framework-%d{yyyy-MM-dd}.log">
            <PatternLayout charset="UTF-8" pattern="%-d{yyyy-MM-dd HH:mm:ss} %-5p [%t] [%c] - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
            </Policies>
        </RollingFile>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout charset="UTF-8" pattern="%-d{yyyy-MM-dd HH:mm:ss} %-5p [%t] [%c] - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <!--<Logger name="org.apache.log4j.xml" level="debug">-->
        <!--<AppenderRef ref="A1"/>-->
        <!--</Logger>-->
        <Root level="INFO">
            <AppenderRef ref="rollingDayFile"/>
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>